.main-contenido {
    
background-color: #ffffff;
background-size: 50px 50px;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

border: 2px solid #ccc;
border-radius: 10px;
    margin-bottom: 0;
   
}

.sidebar-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    margin: 0;
    padding: 1rem;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
  }



.division:hover {
    background-color: black;
    color: white;
  
}

.division {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    background-color:  #2980b9;
    

}

.sidebar-menu  {
    
    display: block;
    margin: 0.5rem 0;
    border-top: 1px solid #ccc;
  }



.despliegue {
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
  
}

.tittle-servicios {
    margin: 0;
    font-size: 1rem;
    font-weight: bold
}

.icon-servicios {
    font-size: 2rem;
    color: aliceblue;
}

