
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    overflow: hidden;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    

    
  }

  ::-webkit-scrollbar {
    display: none;
}

* {
     font-family: 'Lato', sans-serif;;
     font-weight: bold;
}

  


.contenedor {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0;
    
   
   
}

.box-1 {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 0.5;
   display: grid;
    
}

.box-2 {
    grid-column-start: 1;
    grid-row-end: 1;
    grid-row-start: 0.5;
    grid-row-end: 3;
    padding: 0;
    padding-left: 1rem;
    padding-top: 3rem;
   
}

.box-3 {
   padding-right: 2rem;
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 2;
   padding: 2rem;
    margin-right: 0;
    width: 100%;
   
   

}

@media (max-width: 1100px) {
    .box-3 {
        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 2;
    }
}

